welcome-page{
    .item-md .item-button,
    .item-ios .item-button{
        padding: 2em ;
    }
    .titleApp{
        font-weight: 400;
        font-size: 2em;
    } 
    .imgLogo{
        text-align: center;
        max-width: none;
    }   
}
